<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" rel="stylesheet">    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <h3>POKEMON</h3>
        <ul class="pokemon"> 
        <% for(let i = 0; i < pokemon.length; i++) {%>
            <li><a href="pokemon/<%=i%>"><%=pokemon[i].name%></a></li>
        <%}%>
        </ul>
</body>
</html>